#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
#Modified by SVS 9/20/2017
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk" LOC = P56 | IOSTANDARD = LVCMOS33;
NET "rst_n" LOC = P38 | IOSTANDARD = LVCMOS33;

NET "cclk" LOC = P70 | IOSTANDARD = LVCMOS33;

NET "led<0>" LOC = P134 | IOSTANDARD = LVCMOS33;
NET "led<1>" LOC = P133 | IOSTANDARD = LVCMOS33;
NET "led<2>" LOC = P132 | IOSTANDARD = LVCMOS33;
NET "led<3>" LOC = P131 | IOSTANDARD = LVCMOS33;
NET "led<4>" LOC = P127 | IOSTANDARD = LVCMOS33;
NET "led<5>" LOC = P126 | IOSTANDARD = LVCMOS33;
NET "led<6>" LOC = P124 | IOSTANDARD = LVCMOS33;
NET "led<7>" LOC = P123 | IOSTANDARD = LVCMOS33;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVCMOS33;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVCMOS33;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVCMOS33;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVCMOS33;

NET "avr_flags<0>" LOC = P46 | IOSTANDARD = LVCMOS33;
NET "avr_flags<1>" LOC = P61 | IOSTANDARD = LVCMOS33;
NET "avr_flags<2>" LOC = P62 | IOSTANDARD = LVCMOS33;
NET "avr_flags<3>" LOC = P65 | IOSTANDARD = LVCMOS33;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVCMOS33;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVCMOS33;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVCMOS33;

NET "midi_in" LOC = P120 | IOSTANDARD = LVCMOS33;

NET "drive0_sel" LOC = P51 | IOSTANDARD = LVCMOS33;
NET "drive0_dir" LOC = P41 | IOSTANDARD = LVCMOS33;
NET "drive0_stp" LOC = P35 | IOSTANDARD = LVCMOS33;

NET "drive1_sel" LOC = P33 | IOSTANDARD = LVCMOS33;
NET "drive1_dir" LOC = P30 | IOSTANDARD = LVCMOS33;
NET "drive1_stp" LOC = P27 | IOSTANDARD = LVCMOS33;

NET "drive2_sel" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "drive2_dir" LOC = P22 | IOSTANDARD = LVCMOS33;
NET "drive2_stp" LOC = P17 | IOSTANDARD = LVCMOS33;

NET "drive3_sel" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "drive3_dir" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "drive3_stp" LOC = P10 | IOSTANDARD = LVCMOS33;

NET "drive4_sel" LOC = P34 | IOSTANDARD = LVCMOS33;
NET "drive4_dir" LOC = P40 | IOSTANDARD = LVCMOS33;
NET "drive4_stp" LOC = P50 | IOSTANDARD = LVCMOS33;

NET "drive5_sel" LOC = P26 | IOSTANDARD = LVCMOS33;
NET "drive5_dir" LOC = P29 | IOSTANDARD = LVCMOS33;
NET "drive5_stp" LOC = P32 | IOSTANDARD = LVCMOS33;

NET "drive6_sel" LOC = P16 | IOSTANDARD = LVCMOS33;
NET "drive6_dir" LOC = P21 | IOSTANDARD = LVCMOS33;
NET "drive6_stp" LOC = P23 | IOSTANDARD = LVCMOS33;

NET "drive7_sel" LOC = P9  | IOSTANDARD = LVCMOS33;
NET "drive7_dir" LOC = P11 | IOSTANDARD = LVCMOS33;
NET "drive7_stp" LOC = P14 | IOSTANDARD = LVCMOS33;
